* {
  margin: 0;
}
body {
  display: grid;
  grid: auto 410px auto / 1fr 300px 700px 1fr;
}

header {
  grid-column: 1 / span 4;
  grid-row: 1;
}

main {
  grid-column: 3;
  grid-row: 2/4;
}

aside.personalMessage {
  grid-column: 2 / 3;
  grid-row: 2;
}

aside.otherMessage {
  grid-column: 2 / 3;
  grid-row: 3;
}

img {
  width: 50%;
}

/* @media (max-width: 768px) {
  body {
    grid: 100px 400px / 1fr 200px 400px 1fr;
  }
} */

@media (max-width: 1000px) {
  body {
    grid: auto auto auto auto / 1fr;
    padding: 0 10px 30px 10px;
  }
  header {
    grid-column: 1;
    grid-row: 1;
  }
  main {
    grid-column: 1;
    grid-row: 3;
  }
  aside.personalMessage {
    grid-column: 1;
    grid-row: 2;
  }

  aside.otherMessage {
    grid-column: 1;
    grid-row: 4;
  }

  img {
    width: 40%;
  }
  section.project > .detail {
    grid-column: 1 / 4;
  }

  section.openSource > .detail {
    grid-column: 1 / 4;
  }

  section .timeline-panel {
    display: grid;
    grid: auto auto auto auto / 120px auto;
    align-items: center;
    margin-top: 16px;
  }

  section .timeline-panel .show img {
    width: 100%;
  }

  section .timeline-panel .detail {
    grid-column: 1 / 5;
  }

  section .timeline-panel .detail.morney {
    grid-column: 1 / 4;
  }

  section .timeline-panel .pomodoro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section .timeline-panel .pomodoro img {
    width: 100%;
  }
  section .education {
    display: grid;
    grid: auto auto auto / auto;
    align-items: center;
    margin-top: 16px;
  }

  section .education .date {
    grid-row: 1;
    grid-column: 1;
    margin-bottom: 10px;
  }
}
